<?php

$app['debug'] = true;

$app['strava.auth.config'] = [
    // Get these details from https://www.strava.com/settings/api
    'clientId' => ,
    'clientSecret' => '',
    'redirectUri' => '',
];
