{% extends "base.html.twig" %}

{% block title %}
   Login
{% endblock %}

{% block content %}
    <h1>Strats</h1>
    <p class="lead">Strats allows you to view the friend leaderboard for
    all of an activities segments on one page.</p>
    <p class="text-center"><a class="btn btn-default btn-large"  href="{{ login_url }}"><img id="connect-strava" alt="Connect with strava" src="/assets/btn_strava_connectwith_orange.png" /></a></p>
{% endblock %}
